---
layout: default
---

<!-- about.html -->
      <div class="post">
        <header class="post-header">
          <h1 class="post-title">
            {% if site.title == "blank" -%}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{%- else -%}{{ site.title }}{%- endif %}
          </h1>
          <p class="desc">{{ page.subtitle }}</p>
        </header>

        <article>
          {% if page.profile -%}
          <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
            {%- if page.profile.image %}
              {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}

              {% if page.profile.image_circular %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
              {% else %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
              {% endif %}

              {% include figure.html
              path=profile_image_path
              class=profile_image_class
              alt=page.profile.image
              cache_bust=true -%}
            {% endif -%}
            {%- if page.profile.more_info %}
            <div class="more-info">
              {{ page.profile.more_info }}
            </div>
            {%- endif %}
          </div>
          {%- endif %}

          <div class="clearfix">
            {{ content }}
          </div>

          <!-- News -->
          {% if page.news and site.announcements.enabled -%}
            <!-- <h2><a href="{{ '/news/' | relative_url }}" style="color: inherit;">News</a></h2> -->
            <h2>News</h2>
            {%- include news.html limit=true %}
          {%- endif %}

          <!-- Honors & Awards -->
          {% if page.news and site.announcements.enabled -%}
            <h2>Honors & Awards</h2>
            <div class="table-responsive">
              <table class="table table-sm table-borderless">
              <tr>
                <th scope="row">2023</th>
                <td>
                  Fellowship of Laverack Family Innovation Fund in the Division of Engineering and Applied Sciences, Harvard University.
                </td>
              </tr>
              <tr>
                <th scope="row">2021</th>
                <td>
                  Comprehensive Excellence Scholarship, Tsinghua University.
                </td>
              </tr>
              <tr>
                <th scope="row">2021</th>
                <td>
                  Best Personal & Group Presentation, <a href="http://www.aspireleague.org/activities/aspire/2021-aspire-forum">ASPIRE Forum 2021</a> Student Workshop.
                </td>
              </tr>
              <tr>
                <th scope="row">2018</th>
                <td>
                  Excellent Graduate, Sichuan University.
                </td>
              </tr>
              <tr>
                <th scope="row">2017</th>
                <td>
                  "Wang Wen Guo" Scholarship, <a href="https://en.wikipedia.org/wiki/Wu_Yuzhang_Honors_College">Wu Yuzhang Honors College</a>, Sichuan University.
                </td>
              </tr>
              </table>
            </div>
          {%- endif %}
          <br>

          <!-- Latest posts -->
          {% if page.latest_posts -%}
            <!-- <h2><a href="{{ '/news/' | relative_url }}" style="color: inherit;">Latest posts</a></h2> -->
            <h2>Latest Posts</h2>
            {%- include latest_posts.html %}
          {%- endif %}

          <!-- Selected papers -->
          {% if page.selected_papers -%}
            <h2><a href="{{ '/publications/' | relative_url }}" style="color: inherit;">Selected Publications</a></h2>
            {%- include selected_papers.html %}
          {%- endif %}

          <!-- Academic Services -->
          {% if page.news and site.announcements.enabled -%}
            <h2>Academic Services</h2>
            <div class="table-responsive">
              <table class="table table-sm table-borderless">
              <tr>
                <th scope="row">Conference Reviewer</th>
                <td>
                  CVPR, ICCV, ECCV, ISBI, ICASSP, ICIP, EUSIPCO.
                </td>
              </tr>
              <tr>
                <th scope="row">Challenge Organizer</th>
                <td>
                  <a href="https://codalab.lisn.upsaclay.fr/competitions/9169">WASPSYN Challenge</a> @ ISBI 2023, <a href="https://xpress.grand-challenge.org/">XPRESS Challenge</a> @ ISBI 2023.
                </td>
              </tr>
              <tr>
                <th scope="row">Conference Volunteer</th>
                <td>
                  ICML, NeurIPS.
                </td>
              </tr>
              </table>
            </div>
          {%- endif %}

          <!-- Invited Talks -->
          {% if page.news and site.announcements.enabled -%}
            <h2>Invited Talks</h2>
            <div class="table-responsive">
              <table class="table table-sm table-borderless">
              <tr>
                <th scope="row">Conference Reviewer</th>
                <td>
                  CVPR 23'-24', ICCV 23', ECCV 24', ISBI 24', ICASSP 22', ICIP 21'-22', EUSIPCO 21'-22'.
                </td>
              </tr>
              </table>
            </div>
          {%- endif %}

          <!-- Teaching -->
          {% if page.news and site.announcements.enabled -%}
            <h2>Academic Services</h2>
            <div class="table-responsive">
              <table class="table table-sm table-borderless">
              <tr>
                <th scope="row">Conference Reviewer</th>
                <td>
                  CVPR 23'-24', ICCV 23', ECCV 24', ISBI 24', ICASSP 22', ICIP 21'-22', EUSIPCO 21'-22'.
                </td>
              </tr>
              <tr>
                <th scope="row">Challenge Organizer</th>
                <td>
                  WASPSYN Challenge @ ISBI 2023, XPRESS Challenge @ ISBI 2023.
                </td>
              </tr>
              <tr>
                <th scope="row">In</th>
                <td>
                  Best Personal & Group Presentation, <a href="http://www.aspireleague.org/activities/aspire/2021-aspire-forum">ASPIRE Forum 2021</a> Student Workshop.
                </td>
              </tr>
              <tr>
                <th scope="row">2018</th>
                <td>
                  Excellent Graduate, Sichuan University.
                </td>
              </tr>
              </table>
            </div>
          {%- endif %}

          <!-- Social -->
          {%- if page.social %}
            <div class="social">
              <div class="contact-icons">
                {% include social.html %}
              </div>

              <div class="contact-note">
                {{ site.contact_note }}
              </div>

            </div>
          {%- endif %}
        </article>

</div>
